@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: rgb(11, 13, 23);
  --text-light-blue: rgb(208, 214, 249);
  --text-white: rgb(255, 255, 255);
}

body {
  background-color: var(--background-dark);
  color: var(--text-white);
  max-width: 1440px;
  margin: 0 auto;
}

/* h1 {
  text-transform: uppercase;
  font-size: 150px;
}

h2 {
  text-transform: uppercase;
  font-size: 100px;
}

h3 {
  text-transform: uppercase;
  font-size: 56px;
}

h4 {
  text-transform: uppercase;
  font-size: 32px;
}

h5 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 4.75;
} */
